body
{
	background-size: 100%;
	background: url('kiss.jpg') no-repeat fixed 100%;
    text-align: left;
	float: left;
}
a{	text-decoration: none;	}


/*

	Basic UI and positioning of the content 
	on the verious screenes...

*/

.intro
{
	background-image: url('background2.jpg');
	width: 60%;
	margin: 13% 19% 19% 19%;
	position: relative;
	padding: 3%;
	border-style: dotted;
}

.summary p:last-child
{
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	word-spacing: 5px;
}

h1
{   
	z-index: 1;
	position: fixed;
	top: -.9em;
	padding: 0.3em;
    left: 0em;
	right: 0em;
	width: 100%;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
	background-color: red;
	word-spacing: 0.3em;
	box-shadow: 2px 10px 18px 2px red;
}

.intro h2              /*---------TRANSFORM---------*/
{   
	
	top: -2.5em;
	padding-left: 23%;
	position: absolute;
    font-size: 30px;
    line-height: 0.85;
    text-align: center;
	
	/*
	
	position: fixed;
    left:-.3em;
    top:0;
    width: 1em;
    font-size: 30px;
    line-height: .8;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    text-shadow: 0 0 48px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
	
	*/
}
.intro h3
{
	text-align: right;
	text-decoration: underline;
}

/*-------------------------------*/

.supporting
{
	width: 35%;
	top: 50em;
	margin: 0% 0% 10% 5%;
	border-right-style: solid;
	border-right-width: 0.7em;
	border-radius: 0% 7% 7% 0%;
	padding: 0% 0% 0% 5%;
    background-color: rgba(255, 255, 255, 0.4);
}
.supporting div
{
	padding: 3% 0% 3% 0%;
}
.supporting h3
{
	text-align: right;
	padding: 2%;
	padding-right: 12%;
}
.supporting p
{
	width: 80%; 
	position: auto;
}


footer
{
	padding: 20% 10% 20% 0%;
	word-spacing: 1.5em;
	left: -2em;
}

/*------------------------------*/

.sidebar h3
{
    text-align: center;
    padding: 30px 20px 1em;
}

.wrapper
{
	width: 35%;
	top: 54em;
	right: 8%;
	position: absolute;
	margin: 0% 5% 10% 0%;
}

ul
{
	list-style-type: none;
}

#design-selection
{	
	margin-top: 8%;
	border-style: inset ;
	padding: 10%;
	padding-top: 0%;
	border-radius: 40% 0% 40% 0%;
	background-color: rgba(255, 255, 255, 0.4);
}

li{padding: 1%;}
.design-selection li {text-align: right;}


.design-name {
    float: left;
    max-width: 66%;
}

#design-archives
{
	text-align: right;
	padding: 0% 10% 10% 10%;
	border-radius: 100%;
	margin-right: 5%;
	margin-top: 150%;
	border-style: solid solid none none;
	background-color: rgba(255, 255, 255, 0.4);
}

#zen-resources
{
	text-align: left;
	padding: 0% 10% 10% 10%;
	border-radius: 100%;
	margin-left: 5%;
	margin-top: -4%;
	border-style: none none solid solid;
	background-color: rgba(255, 255, 255, 0.4);
}


/*------------------------------------------*/

@media screen and (max-width: 1024px) 
{
	body, .page-wrapper
	{
		background: #fceec6;
	}
	.intro
	{
		border-style: none;
		position: relative;
		text-align: center;
	}
	.intro h2{text-align: center;}
	.supporting
	{
		margin: 10%;
		width: 80%;
		padding: 2%;
		border-style: none;
		border-radius: 0 !important;
	}
	footer
	{
		margin-top: 10%;
		padding: 4% 0%;
		word-spacing: 0.3em;
		border-style: solid none;
		border-width: 0.003em;
		text-align: center;
	}
	.wrapper
	{
		margin: 2% 1%;
		padding: 0%;
		width: 100%;
		top: 0em;		
		bottom: 0em;
		position: relative;
	}
	
	.design-name
	{
		float: left;
		max-width: 66%;
	}
	
	#design-selection, #design-archives, #zen-resources
	{
		margin: 8%;
		width: 88%;
		padding: 1%;
		border-style: none;
	}
	.supporting p
	{
		width: 88%;
		padding: 0% 3%;
		border-style: none;
	}
	#design-archives, #zen-resources
	{
		text-align: center;
	}
	.intro h3, .supporting h3
	{
		text-align: center;
		font-size: 16px;
		padding: 1%;
	}
	.sidebar h3
	{
		font-size: 16px;
		padding-left: 12%;
	}
}


@media screen and (max-width: 420px) 
{
	.intro
	{
		margin: 15% 0% 0% -1%;
		width: 100%;
		padding: 1%;
	}
	.intro h2
	{   
		padding: 0%;
		position: initial;
		font-size: 18px;
		text-align: center;
	}
	h1{font-size: 20px;}
}
@media screen and (min-width: 421px) and (max-width: 480px)
{
	.intro{top: 1em;}
	
	.intro h2
	{
		font-size: 20px;
		padding: 0% 10%;
		width: 80%;
	}
	h1{font-size: 20px;}
}
@media screen and (min-width: 481px) and (max-width: 1024px)
{
	.intro
	{
		top: 3em;
		border-style: dotted;
		border-top-style: none;
		border-radius: 10% 10% 0% 0%;
	}
	.intro h2
	{
		font-size: 30px;
		padding: 0;
		width: 100%;
	}
	h1{font-size: 40px;}
}

@media screen and (max-width: 680px)
{
	.supporting, #design-selection, #design-archives, #zen-resources
	{
		border-radius: 0 !important;
	}
}
@media screen and (min-width: 421px) and (max-width: 1024px)
{
	.intro
	{
		padding: 2%;
		width: 80%;
		margin: 15% 10% 0% 10%;
	}
	.intro h2{position: absolute;}
}


/*-----------------------------------*/

@media screen and (min-width: 681px) and (max-width: 1024px)
{
	h1{font-size: 40px;}
	.intro
	{
		border-style: dotted;
		border-radius: 0%;
	}
	#design-archives
	{
		width: 70%;
		margin: auto 20%;
		border-radius: 100%;
		border-style: double none none none;
	}
	#zen-resources 
	{
		border-radius: 100%;
		width: 70%;
		margin: auto 20%;
		border-style: none none double none;
	}
	#design-selection
	{
		width: 80%;
		margin: auto 12%;
		margin-bottom: 5%;
	}
	.intro h3{text-align: right;}
	
}


@media screen and (min-width: 961px) and (max-width: 1024px)
{
	#design-archives
	{
		text-align: right;
		width: 70%;
		margin: auto 20%;
		border-radius: 100%;
		border-style: solid solid none none;
		padding-bottom: 6%;
		padding-right: 2%;
	}
	#zen-resources 
	{
		text-align: left;
		border-radius: 100%;
		width: 70%;
		margin: auto 20%;
		border-style: none none solid solid;
		padding-bottom: 6%;
	}
	#design-selection
	{
		width: 80%;
		margin: auto 12%;
		margin-bottom: 5%;
	}
	#design-selection
	{
		width: 50%;
		margin: auto 20% 5% 23%;
		padding: 0% 10% 5% 8%;
		border-radius: 100%;
		border-style: double;
	}
}
@media screen and (min-width: 1320px) and (max-width: 1535px)
{
	body
	{
		background: url('kiss.jpg') no-repeat fixed -40%, url('background.jpg') no-repeat fixed 20% top;
	}
}



/*--------

	FONTS' decoration

---------*/
body
{
	font-family: Georgia, Cambria Math, Arial;
}
h1
{
	color: #fff;
	font-family: Algerian, Cooper Black, Impact, Arial Black;
	text-shadow: 0 0 4px rgba(68,0,32,0.6);   /*   must edit, else it'd be copied    */
}
h2
{
	color: #fff;
	font-family: Bernard MT Condensed, Broadway, Arial Black;
}
.intro h3
{
	color: #fff;
	font-family: Elephant, Britannic Bold, Arial Black;
}
h3
{
	color: red;
	font-family: Castellar, Andalus, Agency FB, Georgia, Arial;
	font-weight: bold;
}










/*-------

NEEDS COSTOMIZING

---------*/
@media screen and (min-width: 1535px)
{
	body
	{
		background-size: 100%;
		background: url('kiss.jpg') no-repeat fixed 100%;
	}
}
